# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=server
DB_PASSWORD=secret_app
DB_NAME=cleanapp

# Analysis API Configuration
REPORT_ANALYSIS_URL=http://localhost:8080

# Polling Configuration
POLL_INTERVAL=1m
BATCH_SIZE=20

# End Point
SEQ_END_TO=0

# Logging
LOG_LEVEL=info
