bin/*
docker_backend/service
docker_referrals/referrals
setup/.env
setup/up*.sh
setup/down*.sh
setup/docker-compose*.yml
transactiontest
**/target
# IntelliJ IDEA metafiles
/cleanapp_back_end_v2.iml
/.idea/
/news-indexer/config-local.toml
